.signup-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  align-self: center;
  margin-top: 40px;
}

.signup-form__input {
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 8px;
  border: none;
  background-color: #AAFFC7;
  outline: none;
  transition: 0.2s ease;
  font-size: 14px;
}

.signup-form__input:hover {
  background-color: #9deebb;
}

.signup-form__input:active {
  background-color: #93dcab;
}


.signup-form__button {
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  background-color: black;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  transition: 0.2s ease;
}

.signup-form__button:hover {
  background-color: #100f0f;
}
